<div class="full-width">
  <label mat-dialog-title>
      {{'WhoIsVoting' | translate: 'TeamFeature'}}
    </label>
    
    <app-team-member-list [teamMembers]="teamMembers" 
                          [isTeamMemberPage]="false"
                          (teamMembersSelected)="teamMembersSelectedEventHandler($event)">
  </app-team-member-list>
      
    <mat-dialog-actions>
      <button mat-button [mat-dialog-close]="selectedMembers">
        OK
      </button>
    
      <button mat-dialog-close>
        {{'Cancel' | translate: 'TeamFeature'}}
      </button>
    </mat-dialog-actions>
</div>
