<mat-accordion>
  <mat-expansion-panel *ngFor="let poll of polls"
                        (opened)="getOptions(poll)"
                        (closed)="emptyOptions()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{poll.name}} : {{poll.natureName}}
      </mat-panel-title>
      <mat-panel-description>
        {{'SelectYourOptions' | translate: 'TeamFeature'}}
        <ng-container *ngIf="this.globals.isHomePage">
          <div class="teamName">
              {{'Team' | translate: 'TeamFeature'}} {{poll.teamName}}
          </div>
        </ng-container>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-container *ngIf="currentOptions && currentOptions.length">
      <table mat-table [dataSource]="currentOptions" class="table">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{'Name' | translate: 'TeamFeature'}}</th>
          <td mat-cell *matCellDef="let option">
            <button (click)="goToOptionPage(option, poll)">{{option.name}}</button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-container>
    <div>
      <button (click)="OpenDialogAddOption(poll)">
        {{'AddOption' | translate: 'TeamFeature'}}
      </button>
    </div>
    <div>
      <ng-container *ngIf="currentOptions && currentOptions.length">
        <button mat-raised-button
        (click)="openDialogStartingPoll(poll)">
          {{'StartPollWithSelectedOptions' | translate: 'TeamFeature'}}
        </button>
      </ng-container>
    </div>
  </mat-expansion-panel>
  <ng-container *ngIf="!globals.isHomePage">
    <mat-expansion-panel [(expanded)]="isNewPollOpen">
      <mat-expansion-panel-header>
        {{'CreateNewPoll' | translate: 'TeamFeature'}}
      </mat-expansion-panel-header>
      <mat-form-field class="">
        <input matInput [(ngModel)] = "newPoll.name" placeholder="{{'NewPollName' | translate: 'TeamFeature'}}">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="{{'SelectPollNature' | translate: 'TeamFeature'}}"
                    [(ngModel)]="natureSelected">
          <mat-option *ngFor="let nature of globals.optionNatureList" [value]="nature.id">{{nature.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button
        (click)="createNewPoll()">
          {{'Validate' | translate: 'TeamFeature'}}
        </button>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
