<mat-accordion>
  <mat-expansion-panel *ngFor="let poll of polls"
                        (opened)="getOptions(poll)"
                        (closed)="emptyOptions()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{poll.name}}
      </mat-panel-title>
      <mat-panel-description>
        Selectionnez vos choix
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let option of currentOptions">
      <mat-checkbox>{{option.name}}</mat-checkbox>
    </div>
  </mat-expansion-panel>
</mat-accordion>
