<ng-container *ngIf="currentTeam">
  <mat-tab-group>
    <mat-tab label="General">
        <form #teamForm = "ngForm" class="tab">
            <label>{{'TeamName' | translate: 'TeamFeature'}}
              <input name="teamNameInput" [(ngModel)]="currentTeam.name" required>
            </label>
          </form>

          <div class="teamButton">
            <button [disabled]="!teamForm.dirty || teamForm.invalid"
                    (click)="save()">
                    {{'SaveYourChanges' | translate: 'TeamFeature'}}
            </button>
          </div>
          <div class="teamButton">
            <button mat-raised-button
                    (click)="openDialog()">
                    {{'DeleteThisTeam' | translate: 'TeamFeature'}}
            </button>
          </div>
    </mat-tab>
    <mat-tab label="Membres">
      <app-team-member-list [teamMembers]="teamMembers"></app-team-member-list>
    </mat-tab>
    <mat-tab label="Sondages">
      <app-poll-list [polls]="polls"></app-poll-list>
    </mat-tab>
  </mat-tab-group>
</ng-container>
