@import "../../color";

.team {
  background-color: $button-color;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:-webkit-fill-available;
  max-width: 400px;
  margin: 20px;
  height: 100px;
    &:hover{
      background-color: $button-color-hover;
    }
  &.first {
    background-color: white;
    color: $button-color;
    border-style: dashed;
  }
  &.new{
    background-color: white;
    color: $button-color;
    border-style: dashed;
    width: 100px;
  }
}

.team-link{
  padding-right: 15px;
}
