<ng-container *ngIf="!httpActivity">
  <ng-container *ngIf="currentTeam">
    <form #teamForm = "ngForm">
      <label>Nom de votre groupe:
        <input name="teamNameInput" [(ngModel)]="currentTeam.name" required>
      </label>
    </form>

    <div class="teamButton">
      <button [disabled]="!teamForm.dirty || teamForm.invalid"
              (click)="save()">
        Enregistrer vos modifications
      </button>
    </div>
    <div class="teamButton">
      <button mat-raised-button
              (click)="openDialog()">
        Supprimer ce groupe
      </button>
    </div>
  </ng-container>
</ng-container>


